# Mod_Autoindex
<IfModule mod_autoindex.c>
  # Запрещаем просмотр содержимого папок
  Options -Indexes
</IfModule>

# Mod_Rewrite
<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  # Включаем mod_rewrite
  RewriteEngine On
  IndexIgnore */*

  # Handle the case of backend
  RewriteRule ^administrator(/(.*))?$ backend/web/$0 [S=1]

  # handle the case of frontend
  RewriteRule .* frontend/web/$0

</IfModule>