@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@viewport {
    width: device-width;
}

body {
    background-color: rgba(211, 209, 235, 0.12);
    font-family: "Open Sans", sans-serif;
	font-size: 1.5em;
}

a {
	#color: #3A6690;
	color: #3A6690;
}
@media only screen and (max-width : 590px) {
    .navbar-brand .brand_text {
        display: none;
    }
}

@media only screen and (min-width: 591px) and (max-width: 992px) {
	.navbar-brand .brand_text {
		font-size: 16px;
	}
}

.navbar {
    background-color: #113e6a;
    border: none;
    min-height: 55px;
    padding-top: 2px;
}

.navbar .navbar-brand {
    background: url('../images/logo2.png') no-repeat left center;
    padding-left: 50px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
}

.navbar-inverse .navbar-nav li a {
    color: #fff;
}

.navbar-inverse .navbar-nav .auth_btn {
    background-color: #18855F;
    border-radius: 3px;
    margin-top: 5px;
    padding: 10px 10px;
    font-weight: bold;
}

.navbar-inverse .navbar-nav .auth_btn:hover {
    background-color: rgba(96, 180, 167, 0.78);
}

.navbar-nav > li > a {
	color: white;
	font-weight: bold;
}

.navbar-toggle > span {
	background-color: white;
}

.navbar-nav .open .dropdown-menu {
	background-color: white;
	border-radius: 0;
}

#mainNav li:last-child :hover,
.navbar-nav > .dropdown.open > a,
.navbar-nav > .dropdown > a:hover,
.navbar-nav > .dropdown > a:focus,
.navbar-nav > .dropdown > .dropdown-menu > li :hover
 {
	border-radius: 3px;
	background-color: #1F5181;
}

.navbar-nav > .dropdown > .dropdown-menu > li :hover {
	color: white;
	border-radius: 0;
}


/* Jumbotron */
.jumbotron {
    margin-bottom: 0;
    padding: 70px 0 10px 0;
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.6);
    text-align: left;
}

.jumbotron .breadcrumb {
    background-color: #fff;
    border: 1px solid #18855F;
    margin: 0 0 10px 0;
    padding: 5px 10px;
}

.breadcrumb > .active {
	color: #A3670F;
}

.jumbotron .container h2,
h3 {
    color: #245c8d;
    font-family: Arial, sans-serif;
}

.jumbotron .container h2 {
    font-weight: bold;
    margin: 0;
	font-size: 1.5em;
}

.jumbotron .container .faculty_emblem {
	margin-right: 7px;
}

.jumbotron .container h3 {
    margin: 10px 0 0 0;
    color: #6585a3;
}
/* Jumbotron end*/

/* Auth page */
label, .has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
	color: #1F5181;
}

.btn-primary {
	background-color: #18855F;
	border-color: #18855F;
}

.btn-primary:hover {
	background-color: #329572;
	border-color: #329572;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
	background-color: #18855F;
	border-color: #18855F;
}

.form-control {
	border: 1px solid #18855F;
	box-shadow: none;
}
/* Auth page end*/


/* Main page */
.jumbotron + .container {
	padding-top: 20px;
}

.faculty {
    border-bottom: 1px solid #18855F;
    padding: 5px 0;
}

.faculty a {
    color: #002951;
	background: url("../images/embl.gif")no-repeat left center;
	background-size: 30px;
	padding: 15px 40px;
	display: block;
}
/* Main page end*/

/* Accordion */
.ui-accordion .ui-accordion-header, .ui-accordion-content, .ui-widget-content {
	background: #18855F;
    border-color: #18855F;
}

.ui-accordion .ui-accordion-header {
    #color: #113e6a;
	color: white;
	font-weight: bold;
	font-size: 1.05em !important;
}

.ui-accordion .ui-accordion-content {
	border: 1px solid #18855F;
	display: flex;
	flex-flow: column nowrap;
	
}

.ui-accordion .ui-widget-content {
	background: none;
	color: #113e6a;
}

.ui-accordion .ui-accordion-content .programContent {
	padding-right: 5px;
	font-weight: bold;
}

.ui-accordion .ui-accordion-content div {
	padding-bottom: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	border-bottom: 1px dotted #396590;
}

.ui-accordion .ui-accordion-content div:nth-last-child(2) {
	border-bottom: none;
}

.ui-accordion .ui-accordion-content .program_links {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	padding-top: 10px;
	border-top: 1px solid #18855F;
    border-bottom: none;
}

.ui-accordion .ui-accordion-content .program_links a {
	background-color: #396590;
	color: white;
	padding: 1px 9px 3px 9px;
	border-radius: 4px;
}

.ui-state-default .ui-icon {
	background-image: url('../images/ui-icons_ffffff_256x240.png') !important;
}
/* Accordion end*/

/* Discipline grid */
.semestr_note {
	font-size: 14px;
	color: #999;
	text-align: right;
}

.grid-view {
	overflow: auto;
}

.table thead tr:first-child {
	background-color: #18855F;
	color: white;
	
}

.table-bordered {
	border-radius: 4px !important;
}

.table-bordered thead tr:first-child th{
	border-right-color: white !important;
}

.table-bordered thead tr:first-child th:last-child {
	border-right-color: #18855F !important;
}

.table thead tr:first-child th a{
	color: white;
}

.table, .table *  {
	border-color: #18855F !important;
}



.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	background-color: #18855F;
	border-color: #18855F;
}

.pagination > li > a, .pagination > li > span {
	color: #3A6690;
}

@media only screen and (max-width : 580px) {
	.disciplinesGrid > tbody > tr > td:nth-child(1), .disciplinesGrid > thead > tr > th:nth-child(1), .disciplinesGrid > thead > tr > td:nth-child(1){
		display: none;
	}
}

@media only screen and (max-width : 500px) {
	.disciplinesGrid > tbody > tr > td:nth-child(3), .disciplinesGrid > thead > tr > th:nth-child(3), .disciplinesGrid > thead > tr > td:nth-child(3){
		display: none;
	}
}

@media only screen and (max-width : 450px) {
	.studResult > tbody > tr > td:nth-child(2), .studResult > thead > tr > th:nth-child(2){
		display: none;
	}
	
	.studentsGrid > tbody > tr > td:nth-child(3), .studentsGrid > thead > tr > th:nth-child(3), .studentsGrid > thead > tr > td:nth-child(3){
		display: none;
	}
	
	.disciplinesGrid > tbody > tr > td:nth-child(4), .disciplinesGrid > thead > tr > th:nth-child(4), .disciplinesGrid > thead > tr > td:nth-child(4){
		display: none;
	}
}

@media only screen and (max-width : 370px) {
	.studResult > tbody > tr > td:nth-child(3), .studResult > thead > tr > th:nth-child(3){
		display: none;
	}
	
	.studentsGrid > tbody > tr > td:nth-child(4), .studentsGrid > thead > tr > th:nth-child(4), .studentsGrid > thead > tr > td:nth-child(4){
		display: none;
	}
}
/* Discipline grid end*/

.footer {
    background: transparent;
    color: rgba(0, 0, 0, 0.66);
}